<section class="flex gap-x-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-200 [&>p>strong]:font-semibold text-pretty"
  >
    <p>
      ¡Hola! Soy Jhandry, estudiante de Ingeniería en Ciencias de la Computación
      en la Universidad Nacional de Loja. Desde temprana edad, he tenido un
      fuerte interés por el diseño y la computación. Al descubrir el <strong
        >desarrollo front-end
      </strong>, decidí enfocar mi carrera en esta área que combina ambos
      campos.
    </p>

    <p>
      He tenido la oportunidad de colaborar en el desarrollo front-end de
      <strong><em class="italic">proyectos universitarios</em></strong>, algunos
      destacados son: aplicación para la navegación de rutas dentro del
      campus, un sistema de monitoreo de la calidad del aire en espacios
      cerrados, y una plataforma para la predicción/monitoreo del clima en la
      ciudad de Loja.
    </p>
  </div>
  <img
    src="/Perfil/AboutMe.jpg"
    alt="Jhandry Chimbo"
    class="rounded-full size-64"
  />
</section>
